# Project
/scratch/

# General
*.log

# Rust
/target/
**/*.rs.bk

# Editors
/.idea/dataSources/
/.idea/dictionaries/
/.idea/dataSources.xml
/.idea/workspace.xml
/.idea/*.local.xml
*.swp
*.swo
*.kate-swp
*.vim
*.tags

# File Managers
.DS_Store
.directory
Thumbs.db

# Git
*.orig
